<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Flask SocketIO Test</title>
</head>
<body>
  <p>Some sample code to make sure Flask-SocketIO works...</p>
  <button onclick="createGame()">Create Game</button>
    <label>Choose 1 - 9</label>
    <input id="#play" type="number" />
    <button onclick="makeMove(document.getElementById('#play').value)">Play</button>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js">***REMOVED***
  <script type="text/javascript" charset="utf-8">
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    let roomid;
    // verify our websocket connection is established
    socket.on('connect', function() {
        console.log('Websocket connected!');
    ***REMOVED***;
    // message handler for the 'join_room' channel
    socket.on('join_room', function(msg) {
      console.log(msg);
      roomid = msg;
    ***REMOVED***;

    socket.on('update_board', function(payload) {
      console.log('Payload', payload);
    ***REMOVED***;
    socket.on('make_move', function(){console.log('Message')***REMOVED***
    socket.on('winner', function(payload){console.log("WINNER", payload)***REMOVED***
    // createGame onclick - emit a message on the 'create' channel to 
    // create a new game with default parameters
    function createGame() {
        console.log('Creating game...');
        socket.emit('create', {size: 'normal', teams: 2, dictionary: 'Simple'***REMOVED***;
    ***REMOVED***
    function makeMove(input) {
        console.log('Player rolled', input, roomid)
        socket.emit('make_move', {'room_id': roomid.room, 'player_move': input***REMOVED***
    ***REMOVED***
  ***REMOVED***
</body>
</html>